<section class="container">
	<strong>Haga click para ver algunos de nuestros modelos en concreto:</strong>
	<p>Las ilustraciones de las casas son percepciones artísticas y no representan necesariamente la realidad del modelo ilustrado.</p>

	<div class="modelos-grid center_img">
		<figure>
			<a class="no_line no_line__orange" href="annette.html"><img src="images/modelos/concreto/01-annette-sm.jpg" alt="Annette">
			<figcaption>Annette</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="siris.html"><img src="images/modelos/concreto/02-siris-sm.jpg" alt="Siris">
				<figcaption>Siris</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="loft.html"><img src="images/modelos/concreto/03-loft-sm.jpg" alt="Loft">
				<figcaption>Loft</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="ines.html"><img src="images/modelos/concreto/04-ines-sm.jpg" alt="Inés">
				<figcaption>Inés</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="yarianna.html"><img src="images/modelos/concreto/05-yarianna-sm.jpg" alt="Yarianna">
				<figcaption>Yarianna</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="caribena-talud.html"><img src="images/modelos/concreto/06-caribena-talud-sm.jpg" alt="Caribeña Talud">
				<figcaption>Caribeña Talud</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="hacienda-senorial.html"><img src="images/modelos/concreto/07-hacienda-senorial-sm.jpg" alt="Hacienda Señorial">
				<figcaption>Hacienda Señorial</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="valle-rocio.html"><img src="images/modelos/concreto/08-valle-rocio-sm.jpg" alt="Valle Rocío">
				<figcaption>Valle Rocío</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="hacienda-rubi.html"><img src="images/modelos/concreto/09-hacienda-rubi-sm.jpg" alt="Hacienda Rubí">
				<figcaption>Hacienda Rubí</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="caribena.html"><img src="images/modelos/concreto/10-caribena-sm.jpg" alt="Caribeña">
				<figcaption>Caribeña</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="tropical.html"><img src="images/modelos/concreto/11-tropical-sm.jpg" alt="Tropical">
				<figcaption>Tropical</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="columbia-terrera.html"><img src="images/modelos/concreto/12-columbia-terrera-sm.jpg" alt="Columbia Terrera">
				<figcaption>Columbia Terrera</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="columbia-columnas.html"><img src="images/modelos/concreto/13-columbia-columnas-sm.jpg" alt="Columbia Columnas">
				<figcaption>Columbia Columnas</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="primavera.html"><img src="images/modelos/concreto/14-primavera-sm.jpg" alt="Primavera">
				<figcaption>Primavera</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="linda-primavera.html"><img src="images/modelos/concreto/15-linda-primavera-sm.jpg" alt="Linda Primavera">
				<figcaption>Linda Primavera</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="mi-sueno-1.html"><img src="images/modelos/concreto/16-mi-sueno-1-sm.jpg" alt="Mi Sueño I">
				<figcaption>Mi Sueño I</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="mi-sueno-1-md.html"><img src="images/modelos/concreto/17-mi-sueno-1-md-sm.jpg" alt="Mi Sueño Marquesina Doble">
				<figcaption>Mi Sueño Marquesina Doble</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="mi-sueno-2.html"><img src="images/modelos/concreto/18-mi-sueno-2-sm.jpg" alt="Mi Sueño II">
				<figcaption>Mi Sueño II</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="villa-ingrid.html"><img src="images/modelos/concreto/19-villa-ingrid-sm.jpg" alt="Villa Ingrid">
				<figcaption>Villa Ingrid</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="tiffany-1.html"><img src="images/modelos/concreto/20-tiffany-1-sm.jpg" alt="Tiffany">
				<figcaption>Tiffany</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="tiffany-2.html"><img src="images/modelos/concreto/21-tiffany-2-sm.jpg" alt="Tiffany II">
				<figcaption>Tiffany II</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="villa-sofia-1.html"><img src="images/modelos/concreto/22-villa-sofia-1-sm.jpg" alt="Villa Sofía I">
				<figcaption>Villa Sofía I</figcaption></a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="hacienda-paola.html"><img src="images/modelos/concreto/23-hacienda-paola-sm.jpg" alt="Hacienda Paola">
				<figcaption>Hacienda Paola</figcaption></a>
		</figure>
	</div>
</section>
