<footer class="footer">
	<div class="container footer--container">
		<p class="footer--p">Para m치s informaci칩n puede comunicarse a: <a class="footer--email" href="mailto:info@casasferrmax.com">info@casasferrmax.com.</a></p>
		<p class="footer--p">&copy; Copyright 2018. Casas Ferrmax. Todos los Derechos est치n Reservados.</p>
		<p class="footer--p">Dise침ado por: Tino Vergne</p>
	</div>
</footer>
