<section class="container">
	<strong>Haga click para ver algunos de nuestros modelos en madera:</strong>
	<p>Las ilustraciones de las casas son percepciones artísticas y no representan necesariamente la realidad del modelo ilustrado.</p>

	<div class="modelos-grid center_images">
		<figure>
			<a class="no_line no_line__orange" href="kaney.html">
				<img src="images/modelos/madera/01-kaney-sm.jpg" alt="Kaney">
				<figcaption>Kaney</figcaption>
			</a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="yuisa.html">
				<img src="images/modelos/madera/02-yuisa-sm.jpg" alt="Yuisa">
				<figcaption>Yuisa</figcaption>
			</a>
		</figure>
		<figure>
			<a class="no_line no_line__orange" href="mia.html">
				<img src="images/modelos/madera/03-mia-sm.jpg" alt="Mía">
				<figcaption>Mía</figcaption>
			</a>
		</figure>
	</div>
</section>
