<h5 class="modelo--info--heading">Importante:</h5>
<p>Todos los planos modelos de Casas Ferrmax están aprobados a nivel isla por la OGPe. Los precios establecidos solo incluyen los materiales de la casa, no incluye contratista, terreno, ni ingeniero. Es responsabilidad del cliente gestionar los permisos de construcción y del seguro de los obreros en el Fondo del Seguro del Estado. ¡Estamos para orientarles, llámenos!</p>
