<header class="hdr">
	<nav class="hdr--topnav">
		<div class="container hdr--container">
			<ul class="hdr--topnav--links">
				<li class="hdr--topnav--link"><a class="hdr--topnav--a" href="index.html">Inicio</a></li>
				<li class="hdr--topnav--link"><a class="hdr--topnav--a" href="nosotros.html">Sobre Nosotros</a></li>
				<li class="hdr--topnav--link"><a class="hdr--topnav--a" href="contacto">Contáctenos</a></li>
				<li class="hdr--topnav--link"><a class="hdr--topnav--a" href="https://es-la.facebook.com/CasasFerrmax/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
			</ul>
		</div>
	</nav>
	<div class="hdr--logo--bg">
		<div class="container">
			<a href="#" class="hdr--logo--a" >
				<img class="hdr--logo" src="../images/logo.png" alt="Casas Ferrmax Logo">
			</a>
		</div>
	</div>
	<nav class="hdr--btmnav">
		<div class="container">
			<ul class="hdr--btmnav--links">
				<li class="hdr--btmnav--link"><a class="hdr--btmnav--a" href="#">Modelos en Concreto</a></li>
				<li class="hdr--btmnav--link"><a class="hdr--btmnav--a" href="#">Modelos en Madera</a></li>
				<li class="hdr--btmnav--link"><a class="hdr--btmnav--a" href="#">Materiales</a></li>
				<li class="hdr--btmnav--link"><a class="hdr--btmnav--a" href="#">Contratistas</a></li>
				<li class="hdr--btmnav--link"><a class="hdr--btmnav--a" href="#">Sucursales</a></li>
				<li class="hdr--btmnav--link"><a class="hdr--btmnav--a" href="preguntas.html">Preguntas Frecuentes</a></li>
				<li class="hdr--btmnav--link"><a class="hdr--btmnav--a" href="#">Solicitar Información</a></li>
			</ul>
		</div>
	</nav>
</header>
