<section class="container modelo--info">
	<div class="row">
		<div class="eight columns">
			<figure>
				<img class="max_width" src="images/modelos/concreto/12-columbia-terrera-lg.jpg" alt="Modelo Columbia Terrera">
				<figcaption><a class="no_line no_line__orange" href="">Agrandar (PDF)</a></figcaption>
			</figure>
			<%= partial "partials/_nota01" %>
		</div>
		<div class="four columns">
			<h5 class="modelo--info--heading">Modelo Columbia Terrera</h5>
			<ul>
				<li>3 Habitaciones, 1 Baño</li>
				<li>36’ X 34’-4”</li>
				<li>1,101 p2 Aprox.</li>
				<li>Marquesina sencilla</li>
				<li>Disponible sin marquesina</li>
				<li>Disponible con marquesina doble</li>
			</ul>
		</div>
			<h5 class="modelo--info--heading u-cf">Incluye:</h5>
			<p>Arena • Piedra • Aros • Planos De Construcción Aprobados Por OGPE • Bomba* Y “Ready Mix” Para La Zapata, Piso Y Techo • Materiales Para El Pozo Séptico • Lavandería Con Pileta • Sala • Losa De Piso Para La Casa • Azulejos En El Baño Hasta El Techo • Mezcladoras Delta®• Inodoro Y Lavamano De Pedestal American Standard • Pintura 100% Acrílica Y “Primer” Alkalino • Puerta Modelo Vista # 7 Y Ventanas Tipo Seguridad En Cristal Para El Frente De La Casa, Sala Y Comedor, Ventanas Miami H/D Para El Resto De La Casa • Cocina Con Azulejos Entre Los Gabinetes • Gabinetes De Cocina De 5 Pies En Madera Al Natural• Puertas De Espejo Para Los Closets Con Organizador • Calentador Eléctrico De 20 Galones Bradford White ® • Entrega De Materiales Por Etapas</p>
	</div>
	<div class="row">
		<div class="twelve columns">
			<%= partial "partials/_nota03" %>
		</div>
	</div>

	<hr>

</section>

<%= partial "partials/_concreto-grid" %>
