<section class="container modelo--info">
	<div class="row">
		<div class="eight columns">
			<figure>
				<img class="max_width" src="images/modelos/concreto/23-hacienda-paola-lg.jpg" alt="Modelo Hacienda Paola">
				<figcaption><a class="no_line no_line__orange" href="">Agrandar (PDF)</a></figcaption>
			</figure>
			<%= partial "partials/_nota01" %>
		</div>
		<div class="four columns">
			<h5 class="modelo--info--heading">Modelo Hacienda Paola</h5>
			<ul>
				<li>4 Habitaciones, 2 Baños</li>
            <li>46’ X 66’- 6”</li>
            <li>2,188 p2 Aprox.</li>
            <li>Marquesina doble</li>
			</ul>
		</div>
			<h5 class="modelo--info--heading u-cf">Incluye:</h5>
			<p>Arena • Piedra • Aros • Planos De Construccion Aprobados Por OGPE • Bomba* Y “Ready Mix” Para La Zapata, Piso Y Techo • Materiales Para El Pozo Séptico • Lavanderia Con Pileta • Sala • Losa De Piso Para La Casa • Azulejos En Los Baños Hasta El Techo • Mezcladoras Delta®• Inodoros Y Lavamanos De Pedestal American Standard • Pintura 100% Acrilica Y “Primer” Alkalino • Puerta Doble Modelo Vista # 7 Y Ventanas Tipo Seguridad En Cristal Para La Fachada Frontal Y Sala. Ventanas Miami H/D Para Toda La Casa • Cocina Con Azulejos Entre Los Gabinetes • Gabinetes De Cocina Modular En Cedro Laminado A La Medida (Incluye Instalación)• Puertas De Espejo Para Los Closets Con Organizador • Calentador Eléctrico De 20 Galones Bradford White ® • Entrega De Materiales Por Etapas</p>
	</div>
	<div class="row">
		<div class="eight columns">
			<%= partial "partials/_nota03" %>
		</div>
	</div>

	<hr>

</section>

<%= partial "partials/_concreto-grid" %>
