---
title: Casas Ferrmax
---

<section class="container greet--container">
	<div class="row">
		<div class="four columns greet">
			<h5 class="greet--h5">Bienvenidos...</h5>
			<hr class="greet--hr">
			<p class="greet--p">Aquí encontrará modelos de casas prediseñadas con los que usted ha soñado en algún momento. También, encontrará valiosa información que le ayudará en este proceso de construcción, estamos para ayudarle.</p>
			<p class="greet--p">Gracias por acceder nuestro sitio web.</p>
			<a class="greet--a button button-primary" href="nosotros.html">ver más</a>
		</div>

		<!--Slideshow-->
		<div class="eight columns slideshow">
			<img name="slide" class="slideshow--img" alt="Slideshow" width="100%">
		</div>
		<!--End of Slideshow-->
	</div>

</section>
<section class="container feat">
	<div class="row card--container">
		<div class="four columns card">
			<div class="card--head--bg">
				<h5 class="card--head">Modelos</h5>
			</div>
			<img class="card--img" src="images/sph-1.png" alt="">
			<div>
				<ul class="card--links">
					<li class="card--link"><a class="no_line" href="concreto.html">Concreto</a></li>
					<li class="card--link"><a class="no_line" href="madera.html">Madera</a></li>
				</ul>
				<div class="card--content">
					<a class="card--btn button button-primary" href="modelos.html">ver más</a>
				</div>
			</div>
		</div>
		<div class="four columns card">
			<div class="card--head--bg">
				<h5 class="card--head">Materiales</h5>
			</div>
			<img class="card--img" src="images/sph-2.png" alt="">
			<div class="card--content">
				<p class="card--p">La hipoteca es un derecho deal de garantia de realizacion de valor...</p>
				<a class="card--btn button button-primary" href="materiales.html">ver más</a>
			</div>
		</div>
		<div class="four columns card">
			<div class="card--head--bg">
				<h5 class="card--head">Sucursales</h5>
			</div>
			<img class="card--img" src="images/sph-3.png" alt="">
			<div class="card--content">
				<p class="card--p">Localize una de nuestras sucursales cerca de usted...</p>
				<a class="card--btn button button-primary" href="contacto.html">ver más</a>
			</div>
		</div>
	</div>
</section>
