<section class="container">
	<h4 class="faq--heading">Solicitar Información</h4>
	<hr>
	<div class="row mobile--wrap">
		<div class="eight columns">
			<p>Complete la siguiente información y estaremos comunicandonos con usted a la mayor brevedad posible:</p>
			<form action="https://formspree.io/spcvelazquez@gmail.com" method="POST">
				<label for="nombre">Nombre:</label>
				<input type="text" name="nombre">
				<label for="pueblo">Pueblo:</label>
				<input type="text" name="pueblo">
				<label for="telefono">Teléfono:</label>
				<input type="tel" name="telefono">
				<label for="email">Email:</label>
				<input type="email" name="email">
				<label for="mensaje">Comentarios:</label>
				<textarea name="mensaje" id="" cols="40" rows="20"></textarea>
				<br>
				<input type="submit" value="Enviar">
			</form>
		</div>
		<div class="four columns center_img">
			<figure class="modelo--info--figure">
				<a class="no_line no_line__orange" href="columbia-columnas"><img class="max_width" src="images/modelos/concreto/13-columbia-columnas-sm.jpg" alt="Columbia Columnas">
				<figcaption>Columbia Columnas</figcaption></a>
			</figure>
		</div>
	</div>
</section>
