<section class="container modelo--info">
	<div class="row">
		<div class="eight columns">
			<figure class="modelo--info--figure">
				<img class="max_width" src="images/modelos/madera/01-kaney-lg.jpg" alt="Kaney">
				<figcaption><a class="no_line no_line__orange" href="">Agrandar (PDF)</a></figcaption>
			</figure>
			<%= partial "partials/_nota01" %>
		</div>
		<div class="four columns">
			<h5 class="modelo--info--heading">Modelo Kaney</h5>
			<ul>
				<li>2 Habitaciones, 1 Baño</li>
				<li>26' x 20'</li>
				<li>520 p2 Aprox.</li>
			</ul>
			<h5 class="modelo--info--heading">Incluye:</h5>
			<ul>
				<li>Planos aprobados por OGPE</li>
				<li>Materiales y entrega</li>
				<li>Tiempo de entrega: 1 semana</li>
				<li>Aplica para residencia en segundas plantas</li>
			</ul>
			<h5 class="modelo--info--heading">No incluye:</h5>
			<ul>
				<li>Pedestal de luz</li>
				<li>Pozo séptico</li>
				<li>Permisos ni ingeniero</li>
				<li>Arbitrios municipales</li>
				<li>Póliza de Seguro del Fondo</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="eight columns">
			<%= partial "partials/_nota02" %>
		</div>
		<figure class="four columns modelo--info--figure">
			<img class="max_width top-margin" src="images/modelos/madera/01-kaney-floorplan.jpg" alt="Kaney">
			<figcaption><a class="no_line no_line__orange" href="">Agrandar (PDF)</a></figcaption>
		</figure>
	</div>

	<hr>

</section>

<%= partial "madera" %>
