<section class="container">
	<h4 class="faq--heading">Materiales para Modelos en Concreto</h4>
	<hr>
	<div class="row mobile--wrap">
		<div class="eight columns">
			<ul>
				<li>Varilla de acero ½” y 3/8” para zapata, piso, columnas, vigas y techo.</li>
				<li>Aros ya preparados para toda la casa</li>
				<li>Bloques de 6” y de 4” en cemento para zapata, paredes, petril y pozo séptico.</li>
				<li>Hormigón para zapata, piso, columnas, techo, pozo séptico y escalera en las casas de dos plantas. (Incluimos el camión, bomba rastrera).</li>
				<li>Cemento marca Ponce para pegar y llenar bloques, para empañetar, para el pozo séptico y para topping de piso.</li>
				<li>Arena de río y piedra ¾</li>
				<li>Polvillo para empañetar</li>
				<li>Alambre quemado y amarras</li>
				<li>Clavos corrientes y acero</li>
				<li>Refuerzos de bloques</li>
				<li>Tubería para la electricidad (vassflex)</li>
				<li>Receptáculos, switch y rosetas.</li>
				<li>Materiales para plomería en cobre y pvc</li>
				<li>Materiales para pozo séptico</li>
				<li>Materiales para el pedestal del contador eléctrico</li>
				<li>Gabinete de cocina lineal en Roble o modular en Cedro laminado (según el modelo de la casa).</li>
				<li>Fregadero doble con mezcladora Delta® y fittings.</li>
				<li>Azulejos para la cocina entre los gabinetes</li>
				<li>Cerámica de piso y para hacer los zócalos (variedad a escoger)</li>
				<li>Pega de piso, lechada y separadores</li>
				<li>Primer Alkalino y Pintura 100% acrílica (colores a escoger)</li>
				<li>Pileta y sifón para la lavandería</li>
				<li>Calentador de agua eléctrico 20gls. 220v</li>
				<li>Ventanas de cristal tipo seguridad lama 4” para la fachada frontal, sala y comedor.</li>
				<li>Ventanas modelo Miami H/D .62</li>
				<li>Puerta para la entrada principal en aluminio y cristal modelo vista # 7 o modelo AA full glass (según el modelo de la casa)</li>
				<li>Puertas y marcos interior en caoba con goznes y cerraduras</li>
				<li>Puertas sliding full glass para Mi Sueño I y II en el área de acceso a la marquesina y al patio.</li>
				<li>Puertas de closet corredizas en espejo</li>
				<li>Organizadores de closet para todos los dormitorios</li>
				<li>Equipo de baño American Standard (lavamano, pedestal e inodoro redondo) Colores disponibles: blanco o crema</li>
				<li>Set de accesorios de baño en varios colores a escoger</li>
				<li>Azulejos para el baño en todas las paredes hasta el techo</li>
				<li>Mezcladoras Delta® para el baño(lavamano y ducha)</li>
				<li>Facilidades para la conexión de aires acondicionados, cable TV , teléfono, calentador de techo y estufa de gas</li>
				<li>Plano Modelo aprobado por la OGPe</li>
				<li>Nuestras casas están elevadas a 18” pulgadas del nivel del suelo y sus techos son a 9’ pies de alto</li>
			</ul>
			<p>Algunos materiales varían según el modelo seleccionado. No incluimos contratista, servicio de Ingeniero para la Radicación del Permiso de Construcción, Inspecciones de la construcción y Permiso de Uso, terreno, herramientas o equipo pesado. Las casas no incluyen; Entrada vehicular, barandas, molduras, casing bead, rejas ni balaustres, lámparas, losa de piso en la marquesina, cortina de baño, bidet, bañera, botiquín o espejo de baño. La Bomba “Ready Mix” solo incluye hasta 4 mangas. Entregamos a toda la isla de Puerto Rico excepto Vieques y Culebra (conllevan un costo adicional).</p>
			<a href="documents/materiales.pdf" class="u-pull-right no_line no_line__orange"><img src="img/pdf.png" alt="Icono de PDF"><strong>Descargar Lista de Materiales</strong></a>
		</div>
		<div class="four columns center_img">
			<img src="img/modelos/concreto/02-siris-sm.jpg" alt="Modelo Siris">
		</div>
	</div>
	<div class="row">
		<div class="eight columns">
			<h4 class="faq--heading">Etapas de Entrega de Materiales</h4>
			<hr>
			<ul>
				<li class="faq--ol ul_no_style">Etapa I: Material de piso, zapata y paredes</li>
				<p>Varillas de 1/2", 3/8", Aros, hormigón para zapata, piso y columnas. (bomba rastrera, hasta cuatro mangas). Bloques de 6”, alambre, clavos corrientes y de acero. Material de plomería y electricidad. Materiales para pozo séptico. Plano modelo.</p>
				<li class="faq--ol ul_no_style">Etapa II: Material estructural y de techo</li>
				<p>Arena y piedra. Cemento para pegar bloques. Hormigón para techo (bomba rastrera, hasta cuatro mangas).</p>
				<li class="faq--ol ul_no_style">Etapa III: Entrega parcial</li>
				<p>Cemento para empañetar y topping. Ventanas. Electricidad final. Arena de playa o polvillo para empañetado. Primer alkalino, bonding y mezcladora de ducha.</p>
				<li class="faq--ol ul_no_style">Etapa IV: Material final (terminaciones)</li>
				<p>Pintura para interior y exterior 100% acrílica. Azulejos de baño y cocina con pega y lechada. Cerámica de piso interior con pega y lechada. Puertas de closet, puertas interiores y exteriores con marcos, cerraduras y goznes. Equipos sanitarios: lavamano(s) con mezcladora e inodoro(s) con "fittings". Calentador eléctrico. Pileta con desagüe. Gabinete de cocina con fregadero con mezcladora y "fittings". Cablería para la toma eléctrica.</p>
				<p>Los materiales disponibles en la ferretería que correspondan a la etapa en la cual se encuentra la construcción, serán entregados aunque no hayan sido solicitados en una entrega coordinada con el contratista. El cliente es responsable de preparar un área segura para almacenar el material a ser entregado. Casas Ferrmax ni los representantes de ventas son responsables de lo que pueda pasar con el material una vez haya sido entregado. Las etapas serán entregadas en un camión de plataforma de 40’. Los agregados serán entregados en su totalidad cuando corresponda la etapa.</p>
			</ul>
			<a href="documents/etapas.pdf" class="u-pull-right no_line no_line__orange"><img src="img/pdf.png" alt="Icono de PDF"><strong>Descargar Etapas de Entrega de Materiales</strong></a>
		</div>
	</div>
</section>
