<section class="container modelo--info">
	<div class="row">
		<div class="eight columns">
			<figure class="modelo--info--figure">
				<img class="max_width" src="images/modelos/madera/03-mia-lg.jpg" alt="Mía">
				<figcaption><a class="no_line no_line__orange" href="">Agrandar (PDF)</a></figcaption>
			</figure>
			<%= partial "partials/_nota01" %>
		</div>
		<div class="four columns">
			<h5 class="modelo--info--heading">Modelo Mía</h5>
			<ul>
				<li>2 Habitaciones, 1 Baño</li>
				<li>40' x 30'</li>
				<li>825 p2</li>
			</ul>
			<p><strong>En madera y bloques. Incluye materiales para el pozo séptico.</strong></p>
		</div>
	</div>
	<div class="row">
		<div class="eight columns">
			<%= partial "partials/_nota02" %>
		</div>
		<figure class="four columns modelo--info--figure">
			<img class="max_width top-margin" src="images/modelos/madera/03-mia-floorplan.jpg" alt="Mía">
			<figcaption><a class="no_line no_line__orange" href="">Agrandar (PDF)</a></figcaption>
		</figure>
	</div>

	<hr>

</section>

<%= partial "partials/_madera-grid" %>
