<section>
	<div class="container">
		<h4 class="faq--heading">Modelos</h4>
		<hr>
	</div>
	<%= partial "partials/_madera-grid" %>
	<hr class="container">
	<br>
	<%= partial "partials/_concreto-grid" %>
</section>
