<section class="container">
  <h4 class="faq--heading">Preguntas Frecuentes</h4>
  <hr>
  <ol>
    <li class="faq--ol">¿Ustedes brindan los servicios de Ingeniería?
      <p class="faq--p">En estos momentos, para los modelos en concreto, se brinda como OFERTA el servicio de un ingeniero para las inspecciones cuando se vacía el hormigón, los permisos de construcción y de uso sin costo alguno para el cliente. Este servicio es opcional. Ciertas restricciones aplican.</p>
    </li>
    <li class="faq--ol">¿Tienen Contratistas que fabriquen sus casas?
      <p class="faq--p">No, el contratista lo escoge el cliente, pero si le podemos proveer información al respecto.</p>
    </li>
    <li class="faq--ol">¿Brindan financiamiento?
      <p class="faq--p">Casas Ferrmax no brinda financiamiento, pero sí le podemos referir a las instituciones bancarias para una orientación completa.</p>
    </li>
    <li class="faq--ol">¿Qué costos adicionales conlleva la construcción una casa prediseñada?
      <ul class="faq--ul">
        <li>Los Gastos del permiso de construcción, Fondo del seguro y Arbitrios Municipales.</li>
        <li>La construcción de entradas vehiculares, muros de contención, rejas, entre otros que pueden ser requeridos por la institución bancaria, por su terreno o a su solicitud.</li>
      </ul>
    </li>
    <li class="faq--ol">¿Ustedes venden los planos?
      <p class="faq--p">No, ya que no es nuestro negocio. No obstante, contamos con asesoría de nuestro Ingeniero para modificar los nuestros planos a su gusto.</p>
    </li>
    <li class="faq--ol">¿Por qué debo comprar una casa prediseñada?
      <p class="faq--p">Al comprar una casa prediseñada usted tiene la ventaja de poder construir su hogar a su gusto. Escoger los materiales de terminación tales como; puertas, ventanas, equipo de baño, losa, azulejos, pintura entre otros. No tiene que quedarse con lo que traen las casas ya construidas aunque no le guste. Así obtendrá la casa de sus sueños.</p>
    </li>
    <li class="faq--ol">¿Se podrían hacer cambios estructurales a los planos?
      <p class="faq--p">Sí, todo cambio que altere el plano conlleva una modificación al plano original y hay que someterlo ante la OGPe para una nueva aprobación. Estos cambios conllevan un costo adicional.</p>
    </li>
    <li class="faq--ol">¿Quién coordina las entregas?
      <p class="faq--p">El cliente o el contratista se comunica con nuestro personal para que las entregas se coordinen de acuerdo a su necesidad según se va avanzando en la construcción. Esto permite que el material no se le dañe o pierda.</p>
    </li>
    <li class="faq--ol">¿Ustedes incluyen el terreno?
      <p class="faq--p">No, nosotros no tenemos terrenos disponibles para el cliente. Solo nos dedicamos a la venta de materiales para edificar la casa de su elección.</p>
    </li>
    <li class="faq--ol">¿Tienen Casas Modelo?
      <p class="faq--p">No, en estos momentos no tenemos Casas Modelo hasta nuevo aviso.</p>
    </li>
    <li class="faq--ol">¿Qué documentos debo presentar para solicitar un préstamo de construcción en el Banco?
      <ul class="faq--ul">
        <li>Escrituras del solar</li>
        <li>Certificación del CRIM</li>
        <li>Plano de Segregación aprobado (si aplica).</li>
        <li>Contrato de compra venta firmado por todas las partes (si está comprando el solar).</li>
        <li>Contrato o Estimado de Buena Fé firmado por el modelo Ferrmax de su preferencia.</li>
        <li>Documentos firmados por el contratista (el banco le provee los formularios)</li>
        <li>Evidencia de ingresos (talonarios, planillas, o certificación de pensión).</li>
        <li>Estados bancarios (últimos dos meses)</li>
        <li>Cuota inicial para cubrir con la tasación, mensura, inspección, inundación, estudio título e informe de crédito.</li>
      </ul>
    </li>
  </ol>
</section>
