<section class="container modelo--info">
	<div class="row">
		<div class="eight columns">
			<figure>
				<img class="max_width" src="images/modelos/concreto/08-valle-rocio-lg.jpg" alt="Modelo Valle Rocío">
				<figcaption><a class="no_line no_line__orange" href="">Agrandar (PDF)</a></figcaption>
			</figure>
			<%= partial "partials/_nota01" %>
		</div>
		<div class="four columns">
			<h5 class="modelo--info--heading">Modelo Valle Rocío</h5>
			<ul>
				<li>3 Habitaciones, 2 ½ Baños, W/C</li>
				<li>37’-8” X 37’</li>
				<li>2,645 p2 Aprox.</li>
				<li>Marquesina doble</li>
			</ul>
		</div>
			<h5 class="modelo--info--heading u-cf">Incluye:</h5>
			<p>Arena • Piedra • Aros • Planos De Construcción Aprobados Por OGPE • Bomba* Y “Ready Mix” Para La Zapata, Piso Y Techo • Materiales Para El Pozo Séptico • Lavandería Con Pileta • Sala • Losa De Piso Para La Casa • Azulejos En El Baño Hasta El Techo • Mezcladoras Delta®• Inodoro Y Lavamano De Pedestal American Standard • Pintura 100% Acrílica Y “Primer” Alkalino • Puerta Modelo Vista # 7 Y Ventanas Tipo Seguridad En Cristal Para El Frente De La Casa, Sala Y Comedor, Ventanas Miami H/D Para El Resto De La Casa • Cocina Con Azulejos Entre Los Gabinetes • Gabinetes De Cocina De 5 Pies En Madera Al Natural• Puertas De Espejo Para Los Closets Con Organizador • Calentador Eléctrico De 20 Galones Bradford White ® • Entrega De Materiales Por Etapas</p>
	</div>
	<div class="row">
		<div class="eight columns">
			<%= partial "partials/_nota03" %>
		</div>
		<div class="four columns">
			<figure class="modelo--info--figure">
				<img class="max_width top-margin" src="images/modelos/concreto/08-floorplan-valle-rocio-1.jpg" alt="Modelo Valle Rocío">
				<figcaption>1er Piso</figcaption>
				<figcaption><a class="no_line no_line__orange" href="">Agrandar (PDF)</a></figcaption>
			</figure>
			<figure class="modelo--info--figure">
				<img class="max_width" src="images/modelos/concreto/08-floorplan-valle-rocio-2.jpg" alt="Modelo Valle Rocío">
				<figcaption>2do Piso</figcaption>
				<figcaption><a class="no_line no_line__orange" href="">Agrandar (PDF)</a></figcaption>
			</figure>
		</div>
	</div>

	<hr>

</section>

<%= partial "partials/_concreto-grid" %>
