///--- Features ---

.feat {}

.card {
	height: 195px;
	position: relative;
	margin-bottom: 15px;

	&--head {
		color: #fff;
		line-height: 5rem;
		padding-left: 10px;
		letter-spacing: -1px;

		&--bg {
			background-color: $mid-grey;
		}
	}

	&--content {}

	&--p {
		max-width: 150px;
		font-size: 1.2rem;
		padding: 0 10px;
	}

	&--links {
		list-style: none;
		margin-left: 10px;
	}

	&--link {
		padding-left: 10px;
	}

	&--img {
		/*position: absolute;
    top: 10px;
    right: 10px;*/
		float: right;
		margin: -60px 10px 0 0;
	}

	&--btn {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.faq {
	&--heading {
		margin-top: 20px;
		color: darken($primary, 15%);
	}

	&--ol {
		color: $primary;
		font-size: 2rem;
	}

	&--p {
		color: $dark-grey;
		font-size: 1.5rem;
		padding: 0 20px;
	}

	&--ul {
		color: $dark-grey;
		font-size: 1.5rem;
	}
}
