///--- Footer ---

.footer {
  background-color: $dark-grey;
	margin-top: 20px;

  &--container {
    padding: 20px;
  }

  &--p {
    margin-bottom: 0;
    color: #fff;
    font-size: 1.3rem;
  }

  &--email {
    text-decoration: none;
    color: $primary;

    &:hover {
      color: $orange;
    }
  }
}
