///--- Greetings ---

.greet {
	padding: 0 15px;

	&--container {
		padding: 20px 0;
	}

	&--h5 {
		margin-bottom: 10px;
		letter-spacing: -1px;
	}

	&--hr {
		margin: 10px 0;
		border-top: 1px solid $light-grey;
	}

	&--p {
		font-size: 1.2rem;
		text-align: justify;
	}

	&--a {
		float: right;
	}
}
