///--- Media Quieries ---

@media (max-width: 1024px) {
	.card--head {
		font-size: 2.0rem;
	}
}

@media (max-width: 960px) {
	.card {
		min-height: 280px;

		&--head {
			padding-left: 0;
			text-align: center;
		}

		&--img {
			float: none;
			margin: -10px auto 10px auto;
			display: flex;
			align-items: center;
		}

		&--p {
			margin: 0 auto 25px auto;
		}
	}
}

@media (max-width: 800px) {
	.hdr--topnav--links {
		float: none;
		text-align: center;
	}

	.hdr--logo {
		padding: 0;

		&--a {
			text-align: center;
		}
	}

	div.four.columns.greet {
		width: 100%;
	}

	div.eight.columns.slideshow {
		width: 100%;
		margin: 10px 0;
	}

	.card {
		&--links {
			margin: 0;
			text-align: center;
		}

		&--link {
			padding: 0;
		}

		&--btn {
			//display: block;
			//width: 100%;
			right: calc(50% - 25px);
		}
	}
}

@media (max-width: 550px) {
	.greet {
		&--p {
			font-size: 1.5rem;
		}
	}

	.card {
		min-height: 90px;

		&--head {
			text-align: left;
			padding-left: 10px;
			font-size: 3rem;
		}

		&--links {
			text-align: left;
			margin-left: 10px;
		}

		&--link {
			font-size: 1.5rem;
		}

		&--p {
			max-width: 170px;
			padding: 0 10px;
			margin: 0;
			font-size: 1.5rem;
		}

		&--img {
			float: right;
			margin: -60px 10px 0 0;
		}

		&--btn {
			position: absolute;
			right: 10px;
			bottom: 0;
		}
	}

	.hdr {
		&--btmnav {
			&--links {
				overflow-x: scroll;
				white-space: nowrap;

				&::-webkit-scrollbar {
					display: none;
				}

				&::before {
					content: "<";
					color: #fff;
				}

				&::after {
					content: ">";
					color: #fff;
				}
			}
		}

		&--logo {
			margin-top: -10px;
		}
	}

	.address {
		&--list {
			text-align: center;
			justify-content: center;
		}
	}

	.mobile--wrap {
		display: flex;
		flex-flow: wrap-reverse;
	}

	.center_img {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}

	.top-margin {
		margin-top: 0;
	}

	///--- Form ---

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="submit"],
	textarea {
		width: 100%;
	}

	label {
		text-align: center;
	}
}
