///--- Utilities ---

.no_line {
	text-decoration: none;

	&:hover {
		color: $primary;
	}

	&__orange:hover {
		color: $orange;
	}
}

.ul_no_style {
	list-style: none;
}

.modelos-grid {
	display: flex;
	flex-flow: wrap;
}

///--- Top Margin ---

.top-margin {
	margin-top: 35px;
}

///--- Slider ---

.slideshow {
	&--img {}
}

///--- Figure ---
figure {
	margin: 15px 20px 25px 20px;
}

///--- Max-Width ---
.max_width {
	max-width: 100%;
}
